body{
    background-color: #548687;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
  
}

#msg{
    font-size: 5vmin;
    font-weight: bolder;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.msgcontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.hide{
    display: none;
}

#newgame-btn{ 
    margin-top: 1rem;
    padding: 1rem ;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color:black;
    color: #548687;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.5);
}

#newgame-btn:hover{
    background-color: #b0413e;
    color: white;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.5);
}

.container{
    margin-top: 0%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.5);
    font-size: 8vmin;
    color: #b0413e;
    cursor: pointer;
    background-color:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-btn{
    margin-top: 1rem;
    padding: 1rem ;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: #548687;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.5);
}
#reset-btn:hover{
    background-color: #b0413e;
    color: white;
    box-shadow: 0 0 1rem rgba(0,0, 0, 0.5);
}

.highlight {
    background-color: #b0413e;
    color: black;
    font-weight: bold; 
}